html()
  head
    title=title

    if !!env.isProd
        link(rel='stylesheet', href='app.bundle.min.css')
    link(rel='icon', type='image/png', href='favicon-32x32.png', size='32x32')
    link(rel='icon', type='image/png', href='favicon-16x16.png', size='16x16')

    meta(contet='text/html; charset=UTF-8', http-equiv='Content-Type')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

  body()
    div(id="app")
    if !!env.isProd
        script(type='text/javascript', src='app.bundle.min.js')
    else
        script(type='text/javascript', src='app.bundle.js')
