@import './city-selector.scss';
@import './weather-panel.scss';
@import './weekly-weather.scss';

body {
    font-family: Arial;
}
.clickable {
    cursor: pointer;
}
.first-matching {
    background: #555;
    color: #fff;
}