.city-selector-component {
    .input-container {
        position: relative;
    }

    .city-chooser-list {
        display: block;
        position: absolute;
        top: 25px;
        left: 0px;
        width: 200px;
        background: white;
/*        padding: 3px 16px;*/
        box-shadow: 0 0 10px -3px;

        &.hidden {
            display: none;
        }

        .list-item {
            padding: 3px 5px;
            &:hover {
                background-color: #5b40d1;
                color: #fff;
            }
        }
    }
}